* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: "Figtree", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 100px;

  ul {
    display: flex;
    text-decoration: none;
    gap: 2rem;
    list-style: none;
  }


  .logo img {
    width: 150px;
  }
}
.links {
  display: none;
}

/* hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}
.hero-btn button {
  padding: 0.7rem 2rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border: none;
}
.card img{
  object-fit: cover;
}

/* mobile */
@media (max-width: 480px) {
  .links {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: black;
    width: 80%;
    color: aliceblue;
    padding: 4rem;
    height: 100vh;
    border-top-left-radius: 20px;
    z-index: 200;
  }
  li a {
    color: white;
  }
  li a:hover {
    color: olivedrab;
  }

  .hidden {
    display: none;
  }

  .hero-btn {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
}
